/*------------------------------Overwrite Bootstrap------------------------------*/

.bg-dark {
  background-color: #233237 !important;
}
a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #233237 !important;
}


.btn-primary {
  color: #fff;
  background-color: #343974;
  border-color: #e85a4d;
}
.btn-primary:hover {
  color: #fff;
  background-color: #242851;
  border-color: #e85a4d;
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(55, 78, 86, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #343974;
  border-color: #e85a4d;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #242851;
  border-color: #27353a;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(55, 78, 86, 0.5);
}


.btn-outline-primary {
  color: #343974;
  border-color: #343974;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #343974;
  border-color: #343974;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(55, 78, 86, 0.5);
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #343974;
  background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #343974;
  border-color: #343974;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(55, 78, 86, 0.5);
}



.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #EAC67A;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 186, 40, 0.25);
}

.custom-file-input:lang(de) ~ .custom-file-label::after {
  content: "Durchsuchen";
  display: none;
}
.custom-file-input:focus ~ .custom-file-label {
  border-color: #eac67a;
  box-shadow: 0 0 0 0.2rem rgba(255, 186, 40, 0.25);
}


.page-link {
  color: #233237;
  border-color: #233237;
}
.page-link:hover {
  color: #fff;
  background-color: #233237;
  border-color: #233237;
}
.page-link:focus, .page-link.focus {
  box-shadow: 0 0 0 0.02rem rgba(55, 78, 86, 0.5);
}
.page-link.disabled, .page-link:disabled {
  color: #233237;
  background-color: transparent;
}
.page-link:not(:disabled):not(.disabled):active, .page-link:not(:disabled):not(.disabled).active,
.show > .page-link.dropdown-toggle {
  color: #fff;
  background-color: #233237;
  border-color: #233237;
}
.page-link:not(:disabled):not(.disabled):active:focus, .page-link:not(:disabled):not(.disabled).active:focus,
.show > .page-link.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.1rem rgba(55, 78, 86, 0.4);
}

.page-item.active .page-link {
    z-index: 1;
    color: #233237;
    background-color: #EAC67A;
    border-color: #233237;
}



.tooltip.show {
  opacity: 0.85;
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #e85a4d;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: #e85a4d;
}
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #e85a4d;
}
.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: #e85a4d;
}
.tooltip-inner{
  background-color:#fff;
  color: #35302f;
  border: 1px solid #e85a4d;
}


.custom-file-label {
  overflow: hidden;
}


.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #bb9e61;
  background-color: #d2b26d;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(234, 198, 122, 0.25);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #bb9e61;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: #bb9e61;
  border-color: #bb9e61;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}








/*-----------------------Selfmade Buttons-----------------------*/


.btn-outline-yellow {
  color: #75633d;
  border-color: #bb9e61;
}
.btn-outline-yellow:hover { 
  color: #233237; 
  background-color: #eac67a;
  border-color: #bb9e61; 
}
.btn-outline-yellow:focus, .btn-outline-yellow.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}
.btn-outline-yellow.disabled, .btn-outline-yellow:disabled {
  color: #eac67a;
  background-color: transparent;
}
.btn-outline-yellow:not(:disabled):not(.disabled):active,
.btn-outline-yellow:not(:disabled):not(.disabled).active, .show >
.btn-outline-yellow.dropdown-toggle { 
  color: #233237; 
  background-color: #eac67a; 
  border-color: #bb9e61; 
}
.btn-outline-yellow:not(:disabled):not(.disabled):active:focus, .btn-outline-yellow:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-yellow.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(234, 198, 122, 0.5);
}


.btn-yellow {
  color: #233237;
  background-color: #eac67a;
  border-color: #bb9e61;
}
.btn-yellow:hover {
  color: #233237;
  background-color: #d2b26d;
  border-color: #bb9e61;
}
.btn-yellow:focus, .btn-yellow.focus {
  box-shadow: 0 0 0 0.2rem rgba(210,178,109, 0.5);
}
.btn-yellow.disabled, .btn-yellow:disabled {
  color: #233237;
  background-color: #bb9e61;
  border-color: #bb9e61;
}
.btn-yellow:not(:disabled):not(.disabled):active, .btn-yellow:not(:disabled):not(.disabled).active,
.show > .btn-yellow.dropdown-toggle {
  color: #233237;
  background-color: #d2b26d;
  border-color: #bb9e61;
}
.btn-yellow:not(:disabled):not(.disabled):active:focus, .btn-yellow:not(:disabled):not(.disabled).active:focus,
.show > .btn-yellow.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(210,178,109, 0.5);
}