/*
Farben:

blau:
#cfe8f8 -> rgba(207, 232, 248, 1)
#b5d8f5 ->
#61acdf -> 
#3063a7 -> rgba(48, 99, 167, 1)

tiefblau:
#343974 ->

rot:
#e85a4d -> rgba(232, 90, 77, 1)

dunkelgrau
#35302f ->
*/

body {
	background-color: #cfe8f8;
	background-image: url('../images/bg.png');
	background-size: contain;
  	background-repeat: no-repeat;
  	margin-top: 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

h3 {
	color: #e85a4d;
	font-family:verdana, sans-serif;
}

.dice_img {
	cursor: pointer;
	-ms-user-select: None;
 	-moz-user-select: None;
 	-webkit-user-select: None;
}

.img_used {
	cursor: not-allowed;
	opacity: 0.2;
}

.rotation_field {
	background-color: #b5d8f5;
	border: 2px solid #35302f;
	border-radius: 20px;
	padding: 5px;
}
.rotation_field img {
	background-color: #fff;
	border: 2px solid #35302f;
	border-radius: 20px;
	width: 8rem;
	height: auto;
	margin: 0.3rem 0.6rem;
	margin-bottom: 0.6rem;
}
#rotation_image img {
	background-color: #fff;
	border: 2px solid #35302f;
	border-radius: 20px;
	width: 8rem;
	height: auto;
	margin: 0.3rem 0.6rem;
	-moz-transition: transform 0.3s;
	-webkit-transition: transform 0.3s;
	transition: transform 0.3s;
}
.button_rotation {
  padding: 0.25rem 0.25rem 0.4rem 0.25rem;
  font-size: 1rem;
  color: #e85a4d;
  color: #fff;
  line-height: 0;
  width: 2em;
  height: 2em;
  border: 2px outset #e85a4d; 
  border-radius: 50%;
  background-color: #343974;
  outline: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button_rotation:hover {
  background-color: #e85a4d;
  border: 2px outset #e85a4d;
  font-weight: bold;
  color: #343974;
}
.button_rotation:focus {
  box-shadow: 0 0 0 0.13rem rgba(232, 90, 77, 0.6);
  outline: 0;
}
.button_rotation:active {
  background-color: #e85a4d;
  border: 2px outset black;
  font-weight: bold;
  color: #343974;
}
.button_rotation:active:focus {
  box-shadow: 0 0 0 0.13rem rgba(232, 90, 77, 0.6);
}



.col_board {
	background-color: #35302f;
	margin: auto; 
	padding: 8vh;
	width: auto;
	background-image: url('../images/board_frame.png');
	background-size: 100% 100%;
  	background-repeat: no-repeat;
  	border: 3px solid #35302f;
  	border-radius: 15px;
  	max-width: max-content;
  	/*min-width: max-content;*/
}
.col_board .row .col-md-12 {
	display: flex;
}
.col_board img {
	max-width: 100%;
	height: auto;

}

@media (max-width: 1199.98px) {
}

.field {
	cursor: pointer;
    border: 1px solid #35302f;
    width: 11vh;
    height: 11vh;
    max-width: 11vw;
    /*min-width: 11vh;*/
    margin:0px;
    background-image: url('../images/field.png');
  	background-repeat: no-repeat;
  	background-size: 11vh;
  	background-size: 100% 100%;
  	position: relative;
  	-ms-user-select: None;
 	-moz-user-select: None;
 	-webkit-user-select: None;
}
.field:hover {
	background: rgba(0,0,0, 0.0);
	background-image: url('../images/field.png');
	background-size: 800%;
}

#field_17 {
	border-top: 2px solid #e85a4d;
	border-left: 2px solid #e85a4d;
}
#field_18 {
	border-top: 2px solid #e85a4d;
}
#field_19 {
	border-top: 2px solid #e85a4d;
	border-right: 2px solid #e85a4d;
}
#field_24 {
	border-left: 2px solid #e85a4d;
}
#field_26 {
	border-right: 2px solid #e85a4d;
}
#field_31 {
	border-bottom: 2px solid #e85a4d;
	border-left: 2px solid #e85a4d;
}
#field_32 {
	border-bottom: 2px solid #e85a4d;
}
#field_33 {
	border-bottom: 2px solid #e85a4d;
	border-right: 2px solid #e85a4d;
}

.field span {
	position: absolute;
}
.round_nr {
	color: #35302f;	
	position: absolute;
	margin-top: -0.3vh;
	font-size: 2vh;
	margin-left: 8.7vh;
}

#img_points {
	width: 95%;
	max-width: 95%;
	height: auto;
	margin: auto;
}

.special img {
	background: #fff;
	border: 2px solid #35302f;
	border-radius: 20px;
	width: 6.5rem;
	height: auto;
	margin: 0.3rem;
}

	

#field_3:before {
	content: "";
	position: absolute;
	opacity: .9;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: url("../images/dice/dice_1_2.png");
	background-size: 100% 100%;
	transform: rotate(270deg);
}





 