/*
Farben:

blau:
#cfe8f8 -> 
#b5d8f5 ->
#61acdf -> 
#3063a7 ->

tiefblau:
#343974 ->

rot:
#e85a4d ->

dunkelgrau
#35302f ->
*/

body {
	background-color: #cfe8f8;
	background-image: url('../images/bg.png');
	background-size: contain;
  	background-repeat: no-repeat;
  	margin-top: 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

h3 {
	color: #e85a4d;
}


.col_board {
	background-color: #35302f;
	margin: auto; 
	padding: 8vh;
	width: auto;
	background-image: url('../images/board_frame.png');
	background-size: 100% 100%;
  	background-repeat: no-repeat;
  	border: 3px solid #35302f;
  	border-radius: 15px;
  	max-width: max-content;
  	/*min-width: max-content;*/
}
.col_board .row .col-md-12 {
	display: flex;
}
.col_board img {
	max-width: 100%;
	height: auto;

}

@media (max-width: 1199.98px) {
}

.field {
	cursor: pointer;
    border: 1px solid #35302f;
    width: 11vh;
    height: 11vh;
    max-width: 11vw;
    /*min-width: 11vh;*/
    margin:0px;
    background-image: url('../images/field.png');
  	background-repeat: no-repeat;
  	background-size: 11vh;
  	background-size: 100% 100%;
  	position: relative;
}
.field:hover {
	background: rgba(0,0,0, 0.0);
	background-image: url('../images/field.png');
	background-size: 800%;
}
.field div {
	font-weight: bold;
	color: #e85a4d;	
	position: absolute;
	margin-top: -0.5vh;
	font-size: 2.3vh;
	margin-left: 8.5vh;
}
.field span {
	position: absolute;
}

#field_17 {
	border-top: 2px solid #e85a4d;
	border-left: 2px solid #e85a4d;
}
#field_18 {
	border-top: 2px solid #e85a4d;
}
#field_19 {
	border-top: 2px solid #e85a4d;
	border-right: 2px solid #e85a4d;
}
#field_24 {
	border-left: 2px solid #e85a4d;
}
#field_26 {
	border-right: 2px solid #e85a4d;
}
#field_31 {
	border-bottom: 2px solid #e85a4d;
	border-left: 2px solid #e85a4d;
}
#field_32 {
	border-bottom: 2px solid #e85a4d;
}
#field_33 {
	border-bottom: 2px solid #e85a4d;
	border-right: 2px solid #e85a4d;
}

#img_points {
	width: 80%;
	max-width: 80%;
	height: auto;
	margin: auto;
}

.special img {
	background: #fff;
	border: 2px solid #35302f;
	border-radius: 20px;
	width: 6.5rem;
	height: auto;
	margin: 0.3rem;
}

	

#field_3:before {
	content: "";
	position: absolute;
	opacity: .9;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: url("../images/dice/dice_1_2.png");
	background-size: 100% 100%;
	transform: rotate(270deg);
}

 #field_10:before {
	content: "";
	position: absolute;
	opacity: .9;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: url("../images/dice/dice_1_1.png");
	background-size: 100% 100%;
}




 