/*
	CSS File for the definition of the HTML containers
	
	@author Raphael Dobesch
*/
.topic{
	font-weight: bold;
	font-size: 1.2em;
	padding: 3px;
	margin: 3px;
}

.game-text{
	font-weight: normal;
	font-size: 1em;
	padding: 3px;
	margin: 3px;
}

.gameTableFrame{
	width: 1400px;
	height: auto;
}
.gameTableContent{
	border: 1px solid white;
	background-color: #181818;
	padding: 5px 5px;
	width:	760px;
	height: 100%;
	display: none;
}

.gameTableHistory{
	border: 1px solid white;
	background-color: #181818;
	width: 600px;
	height: 700px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.gameInformation{
	border: 1px solid grey;
	width: 98%;
	height: auto;
	margin: 0px auto;
	padding: 0px;	
}

.informationElement{
	padding: 0px;	
	margin: 0px;
}

#gameTableHistory p{
	color: white;
	width: 100%;
	display: block;
	text-align: left;
	font-size: 1.0em;
	margin: 3px;
	padding: 0px;	
}

#gameTableHistory p:first-child{
	display: none;
}
#gameTableHistory p:nth-child(2){
	background-color: #383838;
}
#gameTableHistory p:nth-child(3){
	background-color: #282828;
}

#gameInformation p{
	background-color: lightblue;
	color: black;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0px;
	padding: 5px;	
}

.centerGameInformation{
	width: 98%;
	height: auto;
	margin: 0px auto;
	padding: 0px;	
	clear: left;
}

#centerGameInformation p{
	color: white;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0px;
	padding: 5px;	
}

.playersFrame{
	border: 1px solid grey;
	width: 98%;
	height: 120px;
	margin: 10px auto;
	padding: 5px 0px;	
}
.player{
	border: 1px solid white;
	background-color: grey;
	color: #0A122A;
	font-family: verdna;
	font-size: 1.4em;
	font-weight: bold;
	min-width: 120px;
    width: auto;
    height: 60px;
    margin: 5px 5px;
    padding: 0px;
    float: left;
    text-align: center;
}

.player p{
	margin: 3px;
}
.gameTable{
	border: 1px solid grey;
	width: 98%;
	min-height: 300px;
	height: auto;
	margin: 10px auto;
	padding: 0px 0px;
}
.tableCenter{
	width: 100%;
	height: 300px;
}

.dragableCardStack{
	border: 0px solid red;
	width: auto;
	height: auto;
	margin-top: 10px;
	margin-left: 35px;
	margin-bottom: 10px;	
	float: left;
}
.depositCardStack{
	border: 0px solid green;
	position: relative;
	margin-top: 10px;
	margin-right: 35px;
	margin-bottom: 0px;
	width: auto;
	height: auto;
	float: right;
}

.playerCardSet{
	border: 0px solid red;
	width: auto;
	height: auto;
	margin: auto;
}

.playerCardRow{
	position: relative;
	width: 100%;
	height: auto;
	min-height: 122px;
	margin: 10px 35px;
}

.gameTableFooter{
	border: 1px solid grey;
	width: 98%;
	height: auto;
	margin: 10px auto;
	padding: 0px 0px;	
}

.gameTableFooter button{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 15px;
	margin-bottom: 0px;
	padding: 5px 25px;
} 
.chooseColorButton{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 15px;
	margin-bottom: 0px;
	padding: 5px 25px;
}
.button{
	display: none;
}

.button:hover{
	background: #545454;
	border: #757575;
}

#chooseColorBlue{
	background: #2E2EFE;
}
#chooseColorBlue:hover{
	border: #757575;
}
#chooseColorRed{
	background: #FE2E2E;
}
#chooseColorRed:hover{
	border: #757575;
}
#chooseColorGreen{
	background: #58FA58;
}
#chooseColorGreen:hover{
	border: #757575;
}
#chooseColorYellow{
	background: #F4FA58;
}
#chooseColorYellow:hover{
	border: #757575;
}
img.card {
    height: 120px;
}